*{
    margin:0;
}
.login-component{
    margin-left: 1rem;
    display: flex;
   flex-direction: column;
   gap:3rem;
   width: 430px;
   height: 100vh;
}
.verify-student-container{
    margin-top: 2rem;
   width: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:2rem
   
}

.login-logo{
    
    height: 9rem;
}
.form-group{
    margin-left: 1rem;
    width: 380px;
  
}
