@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Tint&family=Karla:ital,wght@0,200..800;1,200..800&family=Lilita+One&family=New+Amsterdam&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Protest+Guerrilla&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


/* General container styling */
.driveinputcontainer {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  }
  .driveinputcontainer:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

  }
  
  /* Title styling */
  .title {
    font-size: 24px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  /* Message styling */
  .message {
    font-family: "Bungee Tint", serif;
  font-weight: 400;
  font-style: normal;
  }
  
  /* Form styling */
  .driveform {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
  }
  
  /* Form group styling */
  .formgroup {
    position: relative;
    
    font-family: monospace;
  }
  
  /* Label styling */
 

  
 
  

  
  /* Submit button styling */
  .submitbtn {
    font: inherit;
    background-color: #f0f0f0;
    border: 0;
    color: #242424;
    border-radius: 0.5em;
    font-size: 1.35rem;
    padding: 0.375em 1em;
    font-weight: 600;
    text-shadow: 0 0.0625em 0 #fff;
    box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
      0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
      0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
    transition: 0.15s ease;
    cursor: pointer;
  }
  
  .submitbtn:active {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
      0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
      0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
  }
  
  .submitbtn:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
  }
  .forminput{
    font-family: "SF Pro";
  max-width: 190px;
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;

  }
  .forminput:focus{
    box-shadow: 5.5px 7px 0 black;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .driveinputcontainer {
      padding: 15px;
      max-width: 100%;
    }
  
    .form-nput, .submit-btn {
      font-size: 14px;
      padding: 8px;
    }
  }
  