@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Tint&family=Karla:ital,wght@0,200..800;1,200..800&family=Lilita+One&family=New+Amsterdam&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Protest+Guerrilla&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.deletedrivecontainer{
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  
}
.deletedrivecontainer:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

}

.title{
    font-size: 24px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

.message {
    font-family: "Bungee Tint", serif;
  font-weight: 400;
  font-style: normal;
  margin:0;

  }
  .deleteform{
    padding: 10px;
    width: 300px;
  }
  .formdeletegroup{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }