
.logincomponent{
    margin: 0;
    margin-left: 1rem;
    display: flex;
   flex-direction: column;
 
   width: 430px;
   height: 100%;

}
.verifystudentcontainer{

    margin-top: 3rem;
   width: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
 
   
}

.loginlogo{
   
    margin: 0;
    height: 9rem;
}
.formgroup{
    margin-left: 1rem;
    width: 380px;
    margin: 0;
  
}
